.pagination{
    display: flex;
    justify-content: space-around;
    padding: 9px;
    margin-bottom: 16px;
    align-items: center;
    .counter{
        display: flex;
        justify-content: space-between;
        align-items: center;
         font-weight: 600;
    }
    .previous{
        font-weight: 600;
        cursor: pointer;
    }

    .disable{
        color: #dad4d4;
        cursor: not-allowed;
    }

    .next{
         font-weight: 600;
         cursor: pointer;
    }
}