.cardList {
  padding: 50px;

  .cardlist-header {
    display: flex;
    justify-content: space-around;
  }
  .upper {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--thumGB) var(--scrollbarBG);
    height: 60vh;
    padding: 20px;
    &::-webkit-scrollbar {
      width: 20%;
    }
    .card-display {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 55px;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 600px) {
  .cardList {
    padding: 10px;



    .upper {
    .card-display {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 35px;
      justify-content: center;
    }
  }
  }

}
