.banner {
  display: flex;
  justify-content: center;
  background: #fff4ea;
  width: 83%;
  overflow: hidden;
  margin-left: 151px;
  border-radius: 2px;
  margin-top: 80px;
}

@media only screen and (max-width: 600px) {
  .banner {
    width: 100%;
    margin-left: 0px;

    .ban-text {
      text-align: center;
    }

    .warning-icon {
      display: none;
    }
  }
}
